.gbc_GroupWidgetContainer {
	border-radius: 12px 12px 0px 0px;
}

.gbc_GroupWidgetContent > .gbc_GroupTitleWidget:not(.empty) {
	padding: 2px 10px 4.8px 1px;
}

.gbc_GroupTitleWidget {
	background-color: $gbc-primary-medium-color;
	color: $gbc-field-background-color;
	text-indent: 5px;
	border-radius: 12px 12px 0px 0px;
}


